{% extends 'base.html' %}

{% block content %}

{% if zipcode %}
	{{ zipcode }}
{% endif %}

{% if api %}

	{% if api == "Error..." %}
		There was an error, please try again...
	{% else %}

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<div class="{{ category_color }} p-5 rounded-lg m-3">
		  <h1 class="display-4">{{ api.0.Category.Name }}</h1>
		  <p class="lead"> Current {{ api.0.ReportingArea }} Air Quality: {{ api.0.AQI }}</p>

		  <p>{{ category_description }}</p>

		</div>

	{% endif %}

{% endif %}

{% endblock %}
